/*android:background="#A1C4C2
android:textColor="#778F8E"
android:textColor="#8DA1B1"
*/
@charset "utf-8";

body{
    margin: 0px;
    padding: 0px;
    background-color: #A1C4C2;

}
a{
    text-decoration: none;
}

.box{
    width: 300px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    border-radius: 10px;
    overflow: hidden;
	margin: 15px;
	
}
.slide-img{

    height: 350px;
    position: relative;
}
.slide-img img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}
.detail-box{
    background-color: #8DA1B1;
    width: 100%;
    display: flex;
    font-family: cursive;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
}
.type{
    display: flex;
    flex-direction: column;
}
.type a {
    color: #f4c2c2;
    margin: 5px 0px;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding-right: 8px;
}
.type span{
    color: #FFB6C1;
}

.overlay{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width:100%;
	height: 100%;
	background-color: rgba(92,95,236,0.6);
	display: flex;
	justify-content: center;
	align-items: center;
}

.buy-btn{
	width:140px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FFFFFF;
	color:#252525;
	font-weight: 700;
	letter-spacing: 1px;
	font-family: calibri;
	border-radius: 20px;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
}

.buy-btn:hover{
	color:#FFFFFF;
	background-color: #f15fa3;
	transition: all ease 0.3s;
}

.overlay{
	visibility: hidden;
}
.slide-img:hover .overlay{
	visibility: visible;
	animation:fade 0.5s;
}
h1{
	text-align: center;
	color: #FFB6C1;
	font-family: cursive;
}

.a2{
	font-size: large;
	font-family: cursive;
	color:#5f7b92 ;
}
.a3{

	font-size: medium;
	font-family: cursive;
	color: #5f7b92;
}
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
  }
  
  .switch input { 
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }

  input:checked + .slider {
	background-color: #f15fa3;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #f15fa3;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
  
  
.slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
}
.checkbox-wC{
	size: 10em;
	margin-left: auto;
}

.a1{
	font-size: large;
	font-family: cursive;
	text-align: center;
	color: #5f7b92;
}
.extras{
	size: 10px;
}
button {
	position: relative;
	align-self: auto;
	display:block;
	height: 45px;
	width: 150px;
	margin: 10px 7px;
	padding: 5px 5px;
	font-weight: 700;
	font-size: 15px;
	letter-spacing: 2px;
	color: #383736;
	border: 2px #383736 solid;
	border-radius: 30px 25px;
	text-transform: uppercase;
	outline: 0;
	overflow:hidden;
	background: none;
	z-index: 1;
	cursor: pointer;
	transition:         0.08s ease-in;
	-o-transition:      0.08s ease-in;
	-ms-transition:     0.08s ease-in;
	-moz-transition:    0.08s ease-in;
	-webkit-transition: 0.08s ease-in;
  }
  .fill:hover {
	color: #f15fa3;
  }
  
  .fill:before {
	content: "";
	position: absolute;
	background: whitesmoke;
	bottom: 0;
	left: 0;
	right: 0;
	top: 100%;
	z-index: -1;
	-webkit-transition: top 0.09s ease-in;
  }
  .fill{
	  margin: auto;
  }
  .fill:hover:before {
	top: 0;
  }
  
  

@keyframes fade{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}